div.event {
	margin-bottom: 50px;
}

iframe {
	margin-bottom: 10px;
}

h3#event_title {
	text-align: center;
}



/* Main events. calendar/event page */
.main-event {
  display: block;
  margin-bottom: 0.9375rem;
}
.main-event p {
  margin-bottom: 0;
  line-height: 1.3;
}
.main-event aside {
  margin-left: 4.5em;
}
.main-event .main-event-title {
  margin: 0 0 .1875em;
  line-height: 1;
  font-weight: bold;
}
.main-event .main-event-time:before, .main-event .main-event-location:before {
  margin-right: .3125em;
  color: #666;
  font-family: "clemson-icons";
}
.main-event .main-event-time:before {
  content: "\e002";
}
.main-event .main-event-location:before {
  content: "\e003";
}
.main-event .main-event-location a {
  color: #666;
}

.main-event-date {
  border: 1px solid #d7d7d7;
  text-align: center;
  float: left;
  padding: .4375em .75em;
  width: 3.9em;
  height: 3.9em;
}
.main-event-date .month, .main-event-date .day {
  display: block;
  margin-top: -0.1875rem;
}
.main-event-date .month {
  font-size: 1.125em;
  font-weight: bold;
}
.main-event-date .day {
  font-size: 1.625em;
  color: #522D80;
  line-height: 1;
}


/* ADDITIONAL CSS
=============================================== */
#purplebar li h1 {
	transition: background 0.5s linear;
}

#purplebar li h1:hover {
	background:#FFFFFF;
	color: #522D80;
}

#purplebar li.nav-active {
  background: #FFFFFF;
}

#purplebar li.nav-active h1 { 
  color: #522D80;
}


/* NEW site header
 Original is commented out in clemson_style.css
========================== */

header {
  background-image: url("../img/logo1.png") repeat top left;
  background: #F66733 top left;
  background-size: cover;
  border-top: 0.062rem solid #522D80;
  position: relative;
  min-height: 100px;
}

#header-bg {

}

#wordmark {
    color: #FFF;
    padding: 1.2em 1.5em;
    background-image: url("../img/logo1.png") repeat top left;
}

#wordmark h1 {
  color: #FFF;
}

#header-bg img {
}



/* For slideshow wrapper
=============================== */

.slideshow-wrapper ul li img{
  max-height: 538px;
}

/* For Homepage Spotlights
============================== */






